@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  padding: 2rem;
  background-color: #083344;
  color: #a5f3fc;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: 2.5rem;
}

input {
  padding: 16px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  max-width: 500px;
  color: #083344;
}

button {
  padding: 16px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  background-color: #a5f3fc;
  color: #083344;
  cursor: pointer;
}

span {
  font-size: 1.5rem;
}

.container-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}